{% extends 'new_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <div class="row">
    <form method="post" enctype="multipart/form-data" action="{% url 'students:profile' %}">
      {% csrf_token %}
      <div class="form-group">
        <div>
           {{profile_form.surname | as_crispy_field}}
        </div>
      </div>
      <div class="form-group">
        <div  class="col-md-6 form-row">
          {{profile_form.first_name | as_crispy_field}}
        </div>
        <div  class="col-md-6 form-row">
          {{profile_form.middle_name | as_crispy_field}}
        </div>
      </div>
      <div>
          {{profile_form.profile_picture | as_crispy_field}}
      </div>
      <div class="form-group">
        <div  class="col-md-4 form-row">
          {{profile_form.email | as_crispy_field}}
        </div>  
        <div  class="col-md-4 form-row">
          {{profile_form.phone_number | as_crispy_field}}
        </div>
        <div  class="col-md-4 form-row">
          {{profile_form.blood_group | as_crispy_field}}
        </div>
      </div>
      <div>
        {{profile_form.date_of_birth | as_crispy_field}}
      </div>
      <div class="form-group">  
        <div  class="col-md-12 form-row">
          {{profile_form.admission_year | as_crispy_field}}
        </div>
      </div>
      <div class="form-group">
        <div  class="col-md-6 form-row">
          {{profile_form.nationality | as_crispy_field}}
        </div>
        <div  class="col-md-6 form-row">
          {{profile_form.state_of_origin | as_crispy_field}}
        </div>
      </div>
      <div class="form-group">
        <div  class="col-md-4 form-row">
          {{profile_form.class_name | as_crispy_field}}
        </div>
        <div  class="col-md-4 form-row">
          {{profile_form.student_id | as_crispy_field}}
        </div>
        <div  class="col-md-4 form-row">
          {{profile_form.gender | as_crispy_field}}
        </div>

     

      </div>
      <input type="submit" Value="Update Profile" class="btn success">
    </form>
    </div>
  </div>

{% endblock  %}