{% extends 'new_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <div class="row">
      <form method="post" action="">
        {% csrf_token %}
        <h3>ASSIGNMENT FORM</h3>
        <div  class="form-group">
          <div class="form-row col-md-6">
             {{assignment_form.topic | as_crispy_field }}
          </div>
          <div class="form-row col-md-6">
             {{assignment_form.subject | as_crispy_field }}
          </div>
        </div>
        <div  class="form-group">
          <div class="form-row col-md-6">
             {{assignment_form.student_class | as_crispy_field }}
          </div>
          <div class="form-row col-md-6">
             {{assignment_form.deadline | as_crispy_field }}
          </div>
        </div>
        <div  class="form-group">
          <div class="form-row col-md-12">
             {{assignment_form.question | as_crispy_field }}
          </div>
          <input type="submit" value="give assignment">
        </div>
    </div>
  </div>



{% endblock  %}