{% extends 'new_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <div class="row">
     <div class="form-group">
      <div  class="col-md-12 form-row">
         {{profile_form.surname | as_crispy_field}}
     </div>
    </div>
    <div class="form-group">
      <div  class="col-md-12 form-row">
         {{profile_form.first_name | as_crispy_field}}
     </div>
     <div  class="col-md-12 form-row">
         {{profile_form.middle_name | as_crispy_field}}
     </div>
    </div>
  </div>

{% endblock  %}