{% extends 'new_base.html' %}
{% load static %}

{% block content %}



  <!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="zxx">
<!--<![endif]-->

    <!--END TOP AREA-->

    <!--FEATURES TOP AREA-->
    <section class="features-top-area" id="features">
        <div class="container">
            <div class="row promo-content">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box mb20 xs-mb0 wow fadeInUp padding30" data-wow-delay="0.1s">
                        <div class="box-icon features-box-icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <h3 class="box-title">Conducive Environment</h3>
                        <p>We ensure we have a serene environment to foster academic excellence</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb20 xs-mb0  wow fadeInUp padding30" data-wow-delay="0.2s">
                        <div class="box-icon features-box-icon">
                            <i class="icofont icofont-business-man-alt-1"></i>
                        </div>
                        <h3 class="box-title">Professional Teachers</h3>
                        <p>We take extra care to ensure we hire and train qualified teachers who know how to do the job.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30" data-wow-delay="0.3s">
                        <div class="box-icon features-box-icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                        <h3 class="box-title">Online Portal</h3>
                        <p>We use latest technological approach to ensure our students meet up with the trends for mental capacity building.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb20 xs-mb0 wow fadeInUp padding30 visible-sm" data-wow-delay="0.4s">
                        <div class="box-icon features-box-icon">
                            <i class="fa fa-cog"></i>
                        </div>
                        <h3 class="box-title">Quality Service</h3>
                        <p>A Google Docs scam that appears to be widespread began landing in Wednesday in what seemed to be a phishing attack.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FEATURES TOP AREA END-->

    <!--ABOUT TOP CONTENT AREA-->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="text-center wow fadeIn">
                        <h2 class="xs-font20">Spring Leaders is trusted by 7,000+ student.</h2>
                        <p>Spring Leaders Montessori School is a school founded on superior educational foundation and principles. It is a school that is centred on developing confident, resourceful and multi-talented children and we achieve this by ensuring that each child develops to the best of their ability while they are here</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ABOUT TOP CONTENT AREA END-->

    <!--FUN FACT AREA AREA-->
    <section class="fun-fact-area center white relative padding-100-70" id="fact">
        <div class="area-bg" data-stellar-background-ratio="0.6"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.1s">
                        <h3 class="font60 xs-font26"><span class="counter">7</span>k+</h3>
                        <p class="font600">Total Students</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.2s">
                        <h3 class="font60 xs-font26"><span class="counter">50</span>+</h3>
                        <p class="font600">Teachers & Staffs</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.3s">
                        <h3 class="font60 xs-font26"><span class="counter">2</span>k+</h3>
                        <p class="font600">Books in our library</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-fun-fact mb30 wow fadeInUp" data-wow-delay="0.4s">
                        <h3 class="font60 xs-font26"><span class="counter">400</span>+</h3>
                        <p class="font600">Students get Admitted to University yearly</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FUN FACT AREA AREA END-->

    <!--COURSE AREA-->
    <section class="course-area padding-top" id="courses">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2 class="xs-font26">Our Facilities</h2>
                    </div>
                </div>
            </div>
            <div class="row course-list">
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-course mb20">
                        <img src="{% static 'smls/assest/img/fac3.jpg' %}" alt="">
                        <div class="course-details padding30">
                            <h3 class="font18">Computer Labs</h3>
                            <p>We have 3 large computer lab that can contain over 300+ students.</p>
                            <p class="mt30"><a href="#" class="enroll-button"></a> <span class="course-price"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-course mb20">
                        <img src="{% static 'smls/assest/img/fac10.jpg' %}" alt="">
                        <div class="course-details padding30">
                            <h3 class="font18">School Bus</h3>
                            <p>We have buses to pick up students at various locations.</p>
                            <p class="mt30"><a href="#" class="enroll-button"></a> <span class="course-price"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-course mb20">
                        <img src="{% static 'smls/assest/img/fac9.jpg' %}" alt="">
                        <div class="course-details padding30">
                            <h3 class="font18">Science Laboratory</h3>
                            <p>We have well equiped science laboratory for practical development.</p>
                            <p class="mt30"><a href="#" class="enroll-button"></a> <span class="course-price"></span></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-course mb20">
                        <img src="{% static 'smls/assest/img/fac1.jpg' %}" alt="">
                        <div class="course-details padding30">
                            <h3 class="font18">Sporting equipment</h3>
                            <p>We have standard sporting equipment for recreational, physical, and talent development</p>
                            <p class="mt30"><a href="#" class="enroll-button"></a> <span class="course-price"></span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-course mb20">
                        <img src="{% static 'smls/assest/img/fac11.jpg' %}" alt="">
                        <div class="course-details padding30">
                            <h3 class="font18">Accessible roads</h3>
                            <p>Our schhol is well positioned in such a way that it is easy to local.</p>
                            <p class="mt30"><a href="#" class="enroll-button"></a> <span class="course-price"></span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-course mb20">
                        <img src="{% static 'smls/assest/img/fac12.jpg' %}" alt="">
                        <div class="course-details padding30">
                            <h3 class="font18">Adequate security</h3>
                            <p>We employ security personels to preserve the life and properties of students, teachers, and staffs..</p>
                            <p class="mt30"><a href="#" class="enroll-button"></a> <span class="course-price"></span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-course mb20">
                        <img src="{% static 'smls/assest/img/fac8.jpg' %}" alt="">
                        <div class="course-details padding30">
                            <h3 class="font18">Power Supply</h3>
                            <p>We provide steady power supply to ensure maximum productivity...</p>
                            <p class="mt30"><a href="#" class="enroll-button"></a> <span class="course-price"></span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                    <div class="single-course mb20">
                        <img src="{% static 'smls/assest/img/fac12.jpg' %}" alt="">
                        <div class="course-details padding30">
                            <h3 class="font18">Online Portal</h3>
                            <p>Parents can track students performance, pay fees, check children results, students can submit assignments</p>
                            <p class="mt30"><a href="#" class="enroll-button"></a> <span class="course-price"></span></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--COURSE AREA END-->

    <!--ABOUT AREA-->
    <section class="section-padding about-area" id="about">
        <div class="container">
            <div class="row flex-v-center">
                <div class="col-md-5 col-lg-5 col-sm-12 col-xs-12">
                    <div class="about-content xs-mb50 wow fadeIn">
                        <h3 class="xs-font20 mb30">Education is the foundation upon which we build our future.</h3>
                        <p>We ensure that we provide an environment where children can discover their talents through a rigorous curriculum of work and structured play. It is our desire to see you become an integral participant in our learning community by your active involvement in the numerous activities and events that we organize throughout the school year. Indeed, your support and participation is critical to our success, we work together to make a school that we can all be proud of in the years to come.
</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12">
                    <div class="video-promo-details wow fadeIn">
                        <div class="video-promo-content">
                            <span data-video-id="j1S66liv1t8" class=""><i class=""></i></span>
                        </div>
                        <embed src="{% static 'smls/assest/img/videos/slm.mp4' %}" autostart="false" height="250" width="180" />
                    
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ABOUT AREA END-->

    <!--TESTMONIAL AREA AREA-->
   <!--  <section class="testmonial-area bg-theme section-padding" id="testmonial">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>What Our students are Saying</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="testmonial-slider">
                        <div class="single-testmonial">
                            <div class="author-content mb20">
                                <p>“The recording starts with the patter of a summer squall. Later a drifting tone like that of a not-quite-tuned-in radio station rises and for a while drowns out the patter. These are the sounds encountered by NASA.”</p>
                            </div>
                            <div class="author-name-image relative">
                                <div class="author-img mb20">
                                    <img src="assest/img/testmonial/testmonial.jpg" alt="">
                                </div>
                                <h4>Harold Crouse</h4>
                                <a href="#">Sales manager</a>
                            </div>
                        </div>
                        <div class="single-testmonial">
                            <div class="author-content mb20">
                                <p>“The recording starts with the patter of a summer squall. Later a drifting tone like that of a not-quite-tuned-in radio station rises and for a while drowns out the patter. These are the sounds encountered by NASA.”</p>
                            </div>
                            <div class="author-name-image relative">
                                <div class="author-img mb20">
                                    <img src="assest/img/testmonial/testmonial.jpg" alt="">
                                </div>
                                <h4>Harold Crouse</h4>
                                <a href="#">Sales manager</a>
                            </div>
                        </div>
                        <div class="single-testmonial">
                            <div class="author-content mb20">
                                <p>“The recording starts with the patter of a summer squall. Later a drifting tone like that of a not-quite-tuned-in radio station rises and for a while drowns out the patter. These are the sounds encountered by NASA.”</p>
                            </div>
                            <div class="author-name-image relative">
                                <div class="author-img mb20">
                                    <img src="assest/img/testmonial/testmonial.jpg" alt="">
                                </div>
                                <h4>Harold Crouse</h4>
                                <a href="#">Sales manager</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--TESTMONIAL AREA AREA END-->

    <!--BLOG AREA-->
    <section class="blog-feed-area padding-top" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Events And News Updates</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-blog-item sm-mb30 xs-mb30 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="blog-thumb">
                            <a href="#"><img src="{% static 'smls/assest/img/blog-1.jpeg' %}" alt=""></a>
                        </div>
                        <div class="blog-details padding30">
                            <h3 class="blog-title font20 mb30"><a href="#">Resumption Date</a></h3>
                            <p>13th January, 2020.</p>
                            <p class="blog-meta font14 mt20"><a href="#">Dec 6, 2019  </a> by <a href="#">admin</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-blog-item sm-mb30 xs-mb30 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="blog-thumb">
                            <a href="#"><img src="{% static 'smls/assest/img/blog-2.jpeg' %}" alt=""></a>
                        </div>
                        <div class="blog-details padding30">
                            <h3 class="blog-title font20 mb30"><a href="#">Holiday Starts At</a></h3>
                            <p>6th December, 2019.</p>
                            <p class="blog-meta font14 mt20"><a href="#">Feb 01, 2016  </a> by <a href="#">Admin</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-blog-item sm-mb30 xs-mb30 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="blog-thumb">
                            <a href="#"><img src="{% static 'smls/assest/img/blog-3.jpeg' %}" alt=""></a>
                        </div>
                        <div class="blog-details padding30">
                            <h3 class="blog-title font20 mb30"><a href="#">Annual Events</a></h3>
                            <p>Valentine’s day                 -   Feb 14th
                               Cultural day                    -   Oct 2nd
                               Graduation/Prize Giving ceremony    -   End of third term
                               End of year party               -   End of first term
</p>
                            <p class="blog-meta font14 mt20"><a href="#">Feb 01, 2016  </a> by <a href="#">Mark Stonis</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="single-blog-item wow fadeInUp visible-sm" data-wow-delay="0.4s">
                        <div class="blog-thumb">
                            <a href="#"><img src="{% static 'smls/assest/img/blog-1.jpg' %}" alt=""></a>
                        </div>
                        <div class="blog-details padding30">
                            <h3 class="blog-title font20 mb30"><a href="#">Blazeon Scrambles to Police Content Amid Rapid Growth</a></h3>
                            <p class="blog-meta font14 mt20"><a href="#">Feb 01, 2016  </a> by <a href="#">Mark Stonis</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--BLOG AREA END-->


    <!--FAQS AREA-->
    <section class="faqs-area padding-100-50" id="faqs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="area-title text-center wow fadeIn">
                        <h2>Some Of Our Aims and Objectives</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 wow fadeInUp" data-wow-delay="0.1s">
                        <h3 class="box-title"></h3>
                        <p>Develop in children the knowledge, skills, attitudes, and concepts required in key learning areas.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 wow fadeInUp" data-wow-delay="0.2s">
                        <h3 class="box-title"></h3>
                        <p>Enable children to achieve high standards of learning and develop self-confidence, high self-esteem and a commitment to personal excellence based on a positive set of values.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 wow fadeInUp" data-wow-delay="0.3s">
                        <h3 class="box-title"></h3>
                        <p>Provide learning experiences which are appropriate to a student’s age, learning readiness, stage of development and level of maturity which will enable the student to integrate skills and knowledge across grades and disciplines.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 wow fadeInUp" data-wow-delay="0.1s">
                        <h3 class="box-title"></h3>
                        <p>Encourage the student to develop the fundamental skills necessary for independent learning, successful problem solving, critical thinking and aesthetic appreciation.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 wow fadeInUp" data-wow-delay="0.2s">
                        <h3 class="box-title"></h3>
                        <p> Foster a warm, caring and safe learning environment that stimulates curiosity, freedom of expression, fairness and respect for others as key elements and which promotes positive competition as well as productive and constructive cooperation and community spirit..</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="text-icon-box relative mb50 wow fadeInUp" data-wow-delay="0.3s">
                        <h3 class="box-title"></h3>
                        <p>Encourage the development of the whole child through the provision of a wide range of physical and extra -curricular activities.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--FAQS AREA END-->

    <!--CONTACT US AREA-->
    <section class="contact-area sky-gray-bg" id="contact">
        <div class="container-fluid no-padding">
            <div class="row no-margin">
                <div class="no-padding col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="map-area relative">
                        <div id="map" style="width: 100%; height: 600px;"> </div>
                    </div>
                </div>
                <div class="no-padding col-md-4 col-lg-4 col-sm-12 col-xs-12">
                    <div class="contact-form-content padding50 xs-padding20">
                        <div class="contact-title wow fadeIn">
                            <h3 class="font28 mb50 xs-mb30 xs-font22 xs-mt20">Any question in mind? Don’t Worry Contact Us.</h3>
                        </div>
                        <div class="contact-form wow fadeIn">
                            <form action="process.php" id="contact-form" method="post">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <div class="form-group" id="name-field">
                                            <div class="form-input">
                                                <input type="text" class="form-control" id="form-name" name="form-name" placeholder="Name.." required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <div class="form-group" id="email-field">
                                            <div class="form-input">
                                                <input type="email" class="form-control" id="form-email" name="form-email" placeholder="Email.." required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group" id="phone-field">
                                            <div class="form-input">
                                                <input type="text" class="form-control" id="form-phone" name="form-phone" placeholder="Subject..">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group" id="message-field">
                                            <div class="form-input">
                                                <textarea class="form-control" rows="6" id="form-message" name="form-message" placeholder="Your Message Here..." required></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group mb0">
                                            <button type="submit">Send Message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--CONTACT US AREA END-->

    <!--CLIENT AREA-->
   <!--  <div class="client-area  padding-bottom mt100 sm-mt10 xs-mt0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="client-slider">
                        <div class="single-client">
                            <img src="assest/img/client/client-6.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assest/img/client/client-7.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assest/img/client/client-8.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assest/img/client/client-9.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assest/img/client/client-10.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assest/img/client/client-6.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assest/img/client/client-7.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assest/img/client/client-8.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assest/img/client/client-9.png" alt="">
                        </div>
                        <div class="single-client">
                            <img src="assest/img/client/client-10.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!--CLIENT AREA END-->

    <!--ADDMISSION AREA-->
    <section class="admition-area padding-50-50 bg-theme">
        <div class="container">
            <div class="row flex-v-center">
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                    <div class="admition-content xs-center xs-mb30">
                        <h3 class="xs-font20">Addmission are now open</h3>
                        <p>Children are admitted to Spring Leaders Montessori School and placed in an age-appropriate class based upon information provided on a completed application form as well as from the school’s assessment.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                    <div class="enroll-button right xs-center">
                        <a href="#">Enroll Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--ADDMISSION AREA END-->

   
</body>

</html>

{% endblock  %}