{% extends 'new_base.html' %}
{% load static %}
 
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {% if items %}
          <ul>
            {% for item in items  %}
              <li>
                <img src="{{item.img.url}}" hieght="200px" width="150"><br><br>
                <a href="{{item.get_absolute_url}}">{{item.name}}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="col-md-4">
        <ul>
          <li {% if not category %}class="selected"{% endif %}>
        <a href="{% url 'shop:index' %}">All</a>
        {% for c in categories  %}
          <li {% if category.slug == c.slug %}class="selected"{% endif %}>
          <a href="{{c.get_absolute_url}}">{{c.category}}</a>
        {% endfor %}
        </ul>
      
      </div>
    </div> 
  </div>
{% endblock  %}